<table>
  <tr>
    <th>Choice</th>
    <th>Number of votes</th>
  </tr>
  <% @poll.results.each do |content, votes| %>
    <tr>
      <td><%= content %></td>
      <td>
        <%= '🟦 ' * votes.size %>
        <%= votes.size %>
      </td>
      <td class="noborder">
        <%= @vote == content ? '⬅ you' : '' %>
      </td>
    </tr>
  <% end %>
</table>

<h2>Total</h2>

<%=
  pluralize(@poll.current_votes.size, 'vote') +
    if @poll.can_have_average?
      format(", average: %.1f, standard deviation: %.1f",
             @poll.average, @poll.standard_deviation)
    else
      ""
    end
%>

<% if @poll.next_poll_id %>
  <hr/>
  <%=
    edit_privilege = @edit_mode ? "&editkey=#{@next_poll.editkey}" : ''
    link_to "Next poll (#{@next_poll.title}) >",
            "/poll/#{@next_poll.id}?key=#{@next_poll.key}#{edit_privilege}"
  %>
<% elsif @poll.previous_poll_id %>
  <hr/>
  That's the last poll in the series.<br/>
  <%= link_to "View all results.", "/poll/list/#{@poll.id}" %>
<% end %>
