<h1>The North Poll</h1>

<%= form_with(url: '/poll') do %>
  <%= label_tag(:title, "Title:") %>
  <%= text_field_tag(:title) %>
  <%= hidden_field(:previous_poll, :id) %>
  <br/>
  <%= submit_tag("Create another poll") %> that follows "<%= @previous_poll.title %>"
<% end %>

<br/>
<%= link_to @previous_poll.chain.first.title, "/poll/#{@previous_poll.chain.first.id}" %>

<% @previous_poll.chain[1..-1].each do |poll| %>
  <br/>
  <%= poll.title %>
<% end %>
