<h1>The North Poll</h1>

<%= form_with(url: '/poll/get') do %>
<div class="row">
  <div class="column">
    <%= label_tag(:code, "Enter code:") %>
  </div>
  <div class="column">
    <%= text_field_tag(:code, params[:code], id: "codefield") %>
  </div>
</div>
<br/>
<%= submit_tag("Go to poll") %>
<% end %>

<br/>
<br/>
<br/>
<%= link_to "Create new poll", "/poll" %>

<script>
  document.getElementById("codefield").focus();
</script>
