<script>
  function unhide(id) {
    document.getElementById(id).removeAttribute("hidden");
    if (id === "scalehelp") {
      document.getElementById("scale_list_custom").checked = true;
    }
  }

  function hide(id) {
    document.getElementById(id).setAttribute("hidden", true);
  }

  function fill_alphabet(id) {
    const titleInput = document.getElementById(id);
    if (!titleInput.value) {
      titleInput.value = "<%= ('A'..'Z').to_a.join(';')%>";
    }
  }
</script>

<%= form_with(url: 'poll') do %>
  <%= label_tag(:title, "Title:") %>
  <%= text_field_tag(:title, params['title'], onfocus: 'unhide("titlehelp")', onfocusout: 'hide("titlehelp")', class: flash.to_hash.dig('error', 'field') == 'title' ? 'error' : '') %>
  <br/>
  <span hidden id="titlehelp" class="help">To enter titles for a whole series of polls, use semi-colon as separator.</span>
<table>
  <tbody>
  <% Scale.default_lists.each_with_index do |list, ix| %>
  <tr class="striped">
  <td style="border: 0px">
    <%= radio_button("scale", "list", list.join(','), checked: ix == 0, onclick: 'fill_alphabet("title")') %>
  </td>
  <td style="border: 0px">
    <p class="scaletext">
      <% list[0..-2].each do |choice| %>
        <% invisible_class = 'invisible-' + (ix % 2 == 0 ? 'even' : 'odd') %>
        <%= choice %>
        <span class="<%= invisible_class %>">;</span>
      <% end %>
      <%= list.last %>
    </p>
  </td>
  </tr>
  <% end %>
  <tr class="striped <%= flash.to_hash.dig('error', 'field') == 'custom_scale' ? 'error' : ''%>">
  <td style="border: 0px">
    <%= radio_button("scale", "list", "custom") %>
  </td>
  <td style="border: 0px">
    <%= text_field_tag(:custom_scale, params['custom_scale'], onfocus:
    'unhide("scalehelp")', onfocusout: 'hide("scalehelp")', class: "radiofield") %>
    <span hidden id="scalehelp" class="help">Enter a custom set of choices for the poll. Use space or semi-colon as separator.</span>
  </td>
  </tr>
  </tbody>
</table>

  <div class="error-message">
    <%= flash.to_hash.dig('error', 'text') %>
  </div>

  <br/>
  <%= submit_tag("Create new poll") %>
<% end %>
