<h1>The North Poll</h1>
<p>Simple voting for teams</p>

<script>
  function unhide(id) {
    document.getElementById(id).removeAttribute("hidden");
    if (id === "scalehelp") {
      document.getElementById("scale_list_custom").checked = true;
    }
  }

  function hide(id) {
    document.getElementById(id).setAttribute("hidden", true);
  }
</script>

<%= form_with(url: 'poll') do %>
  <% Scale.default_lists.each_with_index do |list, ix| %>
    <%= radio_button("scale", "list", list.join(','), checked: ix == 0) %>
    <span><%= list.join(' ') %></span>
    <br/>
  <% end %>
  <div class="<%= flash.to_hash.dig('error', 'field') == 'custom_scale' ? 'error' : ''%>">
    <%= radio_button("scale", "list", "custom") %>
    <%= text_field_tag(:custom_scale, params['custom_scale'], onfocus: 'unhide("scalehelp")', onfocusout: 'hide("scalehelp")') %>
  </div>
  <span hidden id="scalehelp" class="help">Enter a custom set of choices for the poll. Use space or semi-colon as separator.</span>
  <br/>
  <br/>

  <%= label_tag(:title, "Title:") %>
  <%= text_field_tag(:title, params['title'], onfocus: 'unhide("titlehelp")', onfocusout: 'hide("titlehelp")', class: flash.to_hash.dig('error', 'field') == 'title' ? 'error' : '') %>
  <br/>
  <span hidden id="titlehelp" class="help">To enter titles for a whole series of polls, use semi-colon as separator.</span>
  <br/>

  <div class="error-message">
    <%= flash.to_hash.dig('error', 'text') %>
  </div>

  <br/>
  <%= submit_tag("Create new poll") %>
<% end %>
