<h1><%= @poll.title %></h1>

<h2>Results</h2>

<table>
  <tr>
    <th>Choice</th>
    <th>Number of votes</th>
  </tr>
  <% @poll.results.sort.each do |content, votes| %>
    <tr>
      <td><%= content %></td>
      <td><%= votes.size %> vote<%= votes.size == 1 ? '' : 's' %></td>
    </tr>
  <% end %>
</table>

<h2>Average</h2>
<%= sprintf "%.1f", @poll.average %>
