<h1><%= @poll.title %></h1>

<%=
  @container_id = rand(1_000_000_000)
  render partial: "polling", locals: {
    path: "/poll/#{@poll.id}/single_results",
    interval: 3000,
    container_id: @container_id
  }
%>

<div id="<%= @container_id %>">Loading results...</div>

<% if @poll.next_poll_id %>
  <hr/>
  <%= link_to "Next poll >", "/poll/#{@poll.next_poll_id}" %>
<% elsif @poll.previous_poll_id %>
  <hr/>
  That's the last poll in the series.<br/>
  <%= link_to "View all results.", "/poll/list/#{@poll.id}" %>
<% end %>
