<h1><%= @poll.title %></h1>

<h2>Results</h2>

<table>
  <tr>
    <th>Choice</th>
    <th>Number of votes</th>
  </tr>
  <% @poll.results.sort.each do |content, votes| %>
    <tr>
      <td><%= content %></td>
      <td><%= votes.size %> <%= plural_s('vote', votes.size) %></td>
    </tr>
  <% end %>
</table>

<h2>Total</h2>
<%= sprintf "%d %s, average is %.1f", @poll.votes.size, plural_s('vote', @poll.votes.size), @poll.average %>

<% if @poll.next_poll_id %>
  <hr/>
  <%= link_to "Vote in next poll >", "/poll/#{@poll.next_poll_id}" %>
<% end %>
