<%=
  container_class = "liveupdate-#{rand(1_000_000_000)}"
  edit_privilege = @edit_mode ? "?editkey=#{@poll.editkey}" : ''
  render partial: "polling", locals: {
    path: "/poll/title/#{@poll.id}#{edit_privilege}",
    interval: 3000,
    container_class: container_class
  }
%>

<h3>
  <div class="<%= container_class %>"><%= @poll.title %></div>
</h3>

<% if @edit_mode %>
  <%= form_with(url: "/poll/#{@poll.id}/title") do %>
    <div class="rename-form">
    <%= text_field_tag(:title, @poll.title) %>
    <%= submit_tag("Rename") %>
    </div>
    <br/>
    <br/>
  <% end %>
<% end %>

<%= form_with(url: '/vote') do %>
  <div class="<%= @choices_class %>">
  <% @poll.choices.each do |choice|  %>
    <%= radio_button("vote", "value", choice) %>
    <span class="radiotext"><%= choice %></span>
    <br/>
  <% end %>
  <%= hidden_field(:poll, :id) %>
  <%= hidden_field(:poll, :editkey) if @edit_mode %>
  </div>
  <br/>
  <%= submit_tag("Vote") %>
<% end %>

<%=
  skip_container_class = "liveupdate-skip-#{rand(1_000_000_000)}"
  edit_privilege = @edit_mode ? "?editkey=#{@poll.editkey}" : ''
  render partial: "polling", locals: {
    path: "/poll/skip/#{@poll.id}#{edit_privilege}",
    interval: 3000,
    container_class: skip_container_class
  }
%>

<div class="<%= skip_container_class %>">Loading...</div>

<br/>
<% if @chart %>
<table>
  <tbody>
    <tr>
      <td class="noborder">
        <%= raw(@chart.as_svg) %>
      </td>
      <td class="noborder">
        Code: <%= @poll.key %>
      </td>
    </tr>
  </tbody>
</table>
<% end %>
