<h1><%= @poll.title %></h1>

<%= form_with(url: '/vote') do %>
  <% @poll.choices.each do |choice|  %>
  <%= radio_button("vote", "value", choice) %><%= choice %><br/>
  <% end %>
  <%= hidden_field(:poll, :id) %>
  <br/>
  <%= submit_tag("Vote") %>
<% end %>
