<h1><%= @poll.title %></h1>

<%= form_with(url: '/vote') do %>
  <% (1..10).each do |score|  %>
  <%= radio_button("vote", "value", score.to_s) %><%= score %><br/>
  <% end %>
  <%= hidden_field(:poll, :id) %>
  <%= submit_tag("Vote") %>
<% end %>
