<h1><%= @poll.title %></h1>

<%= form_with(url: '/vote') do %>
  <ul>
  <li><%= radio_button("vote", "value", "1") %>1</li>
  <li><%= radio_button("vote", "value", "2") %>2</li>
  <li><%= radio_button("vote", "value", "3") %>3</li>
  </ul>
  <%= hidden_field(:poll, :id) %>
  <%= submit_tag("Vote") %>
<% end %>
