<% if @edit_mode %>
  <h3>
    <%= @poll.title %>
  </h3>
  <%= form_with(url: "/poll/#{@poll.id}/title") do %>
    <div class="rename-form">
    <%= text_field_tag(:title, @poll.title) %>
    <%= submit_tag("Rename") %>
    </div>
    <br/>
    <br/>
  <% end %>
<% else %>
  <%=
    container_id = rand(1_000_000_000)
    render partial: "polling", locals: {
      path: "/poll/title/#{@poll.id}",
      interval: 3000,
      container_id: container_id
    }
  %>
  
  <h3>
    <div id="<%= container_id %>"><%= @poll.title %>...</div>
  </h3>
<% end %>
<%= form_with(url: '/vote') do %>
  <% @poll.choices.each do |choice|  %>
  <%= radio_button("vote", "value", choice) %>
  <span class="radiotext"><%= choice %></span>
  <br/>
  <% end %>
  <%= hidden_field(:poll, :id) %>
  <%= hidden_field(:poll, :editkey) if @edit_mode %>
  <br/>
  <%= submit_tag("Vote") %>
<% end %>

<%=
  edit_privilege = @edit_mode ? "?editkey=#{@poll.editkey}" : ''
  skip_id = rand(1_000_000_000)
  render partial: "polling", locals: {
    path: "/poll/skip/#{@poll.id}#{edit_privilege}",
    interval: 3000,
    container_id: skip_id
  }
%>

<div id="<%= skip_id %>">Loading...</div>

<br/>
<% if @chart %>
<table>
  <tr>
    <td class="noborder">
      <img src="<%= @chart %>" />
    </td>
    <td class="noborder">
      Code: <%= @poll.key %>
    </td>
  </tr>
</table>
<% end %>
