<h1>The North Poll</h1>
<p>Simple voting for teams</p>

<%= form_with(url: 'poll') do %>
  <% Scale.all_lists.each do |list| %>
    <%= radio_button("scale", "list", list.join(',')) %><%= list.join(' ') %><br/>
  <% end %>
  <%= radio_button("scale", "list", "custom") %><%= text_field_tag(:custom_scale) %><br/>
  <%= link_to "Fewer choices", "/" %>

  <br/>
  <br/>
  <%= label_tag(:title, "Title:") %>
  <%= text_field_tag(:title) %>
  <br/>
  <br/>
  <%= submit_tag("Create new poll") %>
<% end %>
