<% if @hide_archived %>
  <%= link_to "Show archived votes", "/vote/?hide_archived=false" %>
<% else %>
  <%= link_to "Hide archived votes", "/vote/?hide_archived=true" %>
<% end %>

<br />
<br />

<% @chains.each do |chain| %>
  <table>
    <thead>
      <% chain.each do |poll| %>
      <th title="<%= poll.key %>">
        <%= link_to poll.title, "/poll/#{poll.id}?key=#{poll.key}&editkey=#{poll.editkey}" %>
      </th>
      <% end %>
    </thead>

    <tbody>
      <% chain.each do |poll| %>
        <td>
          <% poll.votes.each do |vote| %>
            <% archived_class = @hide_archived ? 'invisible' : 'strikethrough' %>
            <span class="<%= vote.is_archived? ? archived_class : '' %>"><%= vote.content %></span>
          <% end %>
        </td>
      <% end %>
    </tbody>
  </table>
  <p/>
<% end %>
