<h1>The North Poll</h1>
<p>Simple voting for teams</p>

<%= form_with(url: 'poll') do %>
  <% Scale.default_lists.each_with_index do |list, ix| %>
    <%= radio_button("scale", "list", list.join(','), checked: ix == 0) %>
    <%= list.join(' ') %>
    <br/>
  <% end %>
  <div class="<%= flash.to_hash.dig('error', 'field') == 'custom_scale' ? 'error' : ''%>">
    <%= radio_button("scale", "list", "custom") %>
    <%= text_field_tag(:custom_scale) %>
  </div>
  <br/>

  <%= label_tag(:title, "Title:") %>
  <%= text_field_tag(:title, '', class: flash.to_hash.dig('error', 'field') == 'title' ? 'error' : '') %>
  <br/>
  <br/>

  <div class="error-message">
    <%= flash.to_hash.dig('error', 'text') %>
  </div>

  <br/>
  <%= submit_tag("Create new poll") %>
<% end %>
