<!DOCTYPE html>

<html>
  <head>
    <title>TheNorthPoll</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="format-detection" content="telephone=no">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= content_for :render_async %>
    <%= yield %>
  </body>
</html>
